body
  padding-top 69px
  height 100%

html
  height 100%

#map
  height 100%
  position absolute;
  top: 69px
  left: 0;
  right: 0;
  bottom: 0;

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #ccc

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color: #13987e;

.toast-error
  background-color: #e50000;

.login-wrapper
  margin-top 80px
  margin-bottom 80px

.form-signin
  max-width 380px
  padding 15px 35px 45px
  margin 0 auto
  background-color #fff
  border 1px solid rgba(0,0,0,0.1)
  .form-signin-heading
    margin-bottom 30px
  .form-control
    position relative
    font-size 16px
    height auto
    padding 10px
    @include box-sizing(border-box)
    &:focus
      z-index 2
  input[type=text]
    margin-bottom -1px
    border-bottom-left-radius 0
    border-bottom-right-radius 0
  input[type=password]
    margin-bottom 20px
    border-top-left-radius 0
    border-top-right-radius 0
  .alt_form_option
    display inline-block
    vertical-align middle
    margin-left 14px



