.container
  table.table
    tr(ng-repeat="user in users")
      td {{user.firstName + ' ' + user.lastName}}
      td
        select(ng-model="user.roles[0]", ng-options="role for role in allRoles")
      td
        button.btn.btn-danger(type="button", ng-click="removeUser(user)")
          span.glyphicon.glyphicon-remove