.container
  .jumbotron
    h1 UK Renewables Project 2014
    p
    | Based on &nbsp;
    a(href="https://www.soi.city.ac.uk/project/dissertations/soi/Blom%20Michael.pdf") Michael Blom's masters dissertation &nbsp;
    | using UK weather station data.